@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
nav.navbar .navitems li > ul {
  display: none;
}

nav.navbar .navitems li:hover > ul {
  display: block;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.btn-outline {
  @apply px-7 py-3 hover:bg-black transition font-medium hover:text-white border-2 border-black rounded-full;
}
.btn-filled {
  @apply px-7 border-black hover:bg-gray-700 hover:border-gray-700 py-3 transition font-medium bg-black text-white border-2 rounded-full;
}

table {
  @apply w-full text-sm text-left text-black border;
}
thead {
  @apply uppercase bg-black text-left;
}
th {
  @apply px-6 py-3 text-left;
}
tr {
  @apply bg-white border-b border-x;
}
td {
  @apply px-6 py-4;
}

@tailwind utilities;
